html {
    font-size: 10px;
    color: #212560;
}

#game-area{
    font-size: 1.6rem;
    padding-top: 3rem;
}

.imageArea,
 .stats {
    min-height: 30vh;
}

.imageArea {
    background-color: linear-gradient(70deg, #859ede, #6965de);
    border-radius: 0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

}

h1 {
    margin-top: 0;
    font-size: 2.4rem;
}

h3 {
    margin-top: 0;
    font-size: 2rems;
}

.items {
    font-size: 2rem;
}

button {
    width: 8rem;
    border: none;
    border-radius: 3rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #a1e0e4;
    cursor: pointer;
}

button:nth-child(2) {
    border: 2px solid rgb(241, 152, 152);
}